extends layouts/main
include mixins/videoBlock

block content
    .videos
        each video in videos
            +videoBlock({
                title: video.title,
                view: video.views,
                videoFile: video.videoFile
            })